body
{
  background-color: #92a8d1;
   display: block;
  margin: 8px;
  line-height: 1.5;
 
}
h1
{
   display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
